<head>
    <title>Payment Confirmation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div id="wrapper">
        <section>
            <div class="dynamicContent">
                <!--content-->
                <div class="row">
                    <div class="span9">
                        <h2>Thank you for your payment. Your transaction has been completed, and a receipt for your purchase has been emailed to you. You may log into your account at www.paypal.com/us to view details of this transaction.</h2>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>