################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.dll
/bin
/UpgradeLog.htm
/obj
/packages
/quiniela.csproj.user