<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DomainPath" value="" />
    <add key="SiteDomain" value="http://laquiniela.info/" />
    <add key="CurrentDatabase" value="quinelaDblocal" />
  </appSettings>
  <connectionStrings>
    <add name="quinelaDb" connectionString="Server=.\SQLEXPRESS;Database=quiniela;Trusted_Connection=SSPI; User Id=MYFAMILY\vgama; Password=tl@t0ani;" />
    <add name="quinelaDbLive" connectionString="Data Source=72.18.135.49,1533;Initial Catalog=quiniela;User Id=vktr;Password=m0nica66;" />
    <add name="quinelaDblocal" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=quiniela;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" />
  </connectionStrings>
  <system.web>
    <httpRuntime />
    <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true" />
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>