<script id="userEditListTemplate" type="text/html">
    <div class="bs-docs-example">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>AccessCode</th>
                <th>InviteCode</th>
                <th>IpAddress</th>
                <th>State</th>
                <th>TotalPoints</th>
            </tr>
        </thead>
        <tbody>
            {{each users}}
            <tr>
                <td>
                    <input type="hidden" id="${Seq}" value="${Email}" />
                    <input type="text" value="${Email}" data-row="${Seq}" data-col="Email" data-val="Email" />
                </td>
                <td>
                    <input type="text" value="${Name}" data-row="${Seq}" data-col="Name" data-val="Name" />
                </td>
                <td>
                    <input type="text" value="${AccessCode}" data-row="${Seq}" data-col="AccessCode" data-val="AccessCode" />
                </td>
                <td>
                    <input type="text" value="${InviteCode}" data-row="${Seq}" data-col="InviteCode" data-val="InviteCode" />
                </td>
                <td>
                    <input type="text" value="${IpAddress}" data-row="${Seq}" data-col="IpAddress" data-val="IpAddress" />
                </td>
                <td>
                    <input type="text" value="${State}" data-row="${Seq}" data-col="State" data-val="State" />
                </td>
                <td>
                    <input type="text" value="${TotalPoints}" data-row="${Seq}" data-col="TotalPoints" data-val="TotalPoints" />
                </td>
                <td>
                    <button class="btn" onclick="deleteUser('${Email}');">kill</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
        </div>
</script>
